# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Data & Large Checkpoints
data/raw/
data/processed/
*.zip
*.tar.gz
*.pth
*.pt
*.onnx
*.tflite
!models/.gitkeep
!data/samples/.gitkeep
!assets/.gitkeep

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
